.array-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  background-color: blue;
}

.array-container {
  width: 100%;
  display: grid;
  justify-content: center;
}

@media screen and (min-aspect-ratio: 1/1) {
  .array-container {
    grid-template-columns: repeat(var(--num-cols), auto);
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .array-container {
    grid-template-columns: repeat(var(--num-rows), auto);
  }
}