.container {
  margin: 5px;
  width: 220px;
  height: 220px;
  position: relative;
  perspective: 800px;
  display: inline-block;
}

.body {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.body figure {
  color: white;
  margin: 0;
  line-height: 220px;
  text-align: center;
  font-weight: bold;
  font-size: 144px;
  display: block;
  position: absolute;
  width: 220px;
  height: 220px;
  backface-visibility: hidden;
}

.body .front {
  background: red;
}

.body .back {
  background: blue;
  transform: rotateY(180deg);
}

.body:hover {
  transform: rotateY(180deg);
}