:root {
  --max-card-dim: 200px;
  --max-img-dim: 180px;
}

.card-container {
  border: 1px solid grey;
  margin: 5px;
  width: var(--max-card-dim);
  height: var(--max-card-dim);
  position: relative;
  perspective: 800px;
  display: inline-block;
}

.card-body {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-body figure {
  margin: 0;
  display: block;
  position: absolute;
  width: var(--max-card-dim);
  height: var(--max-card-dim);
  backface-visibility: hidden;
}

.card-body .front {
  background: red;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: var(--max-card-dim);
  font-size: calc(var(--max-card-dim) * 0.8);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card-body .back {
  background: blue;
  transform: rotateY(180deg);
}

.card-body.flipped {
  transform: rotateY(180deg);
}

.card-gif {
  max-height: var(--max-img-dim);  
  max-width: var(--max-img-dim); 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}