.menubar {
  color: white;
  margin-top: calc((var(--app-padding) - 8px) * -1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar-left {
  float: left;
  font-family: 'Finger Paint', cursive;
}

.menubar-right {
  float: right;
}

.menubar h1 {
  display: inline;
  font-size: 2em;
}

.menubar h2 {
  display: inline;
  font-family: 'Jua', sans-serif;
  font-size: 1em;
}

.newgame {
  border: 0;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 2em;
}

.newgame:focus {
  outline: none;
}

@media screen and (max-width: 360px) {
  .menubar h1 {
    font-size: 1.5em;
  }
  
  .menubar h2 {
    font-size: 0.75em;
  }
  
  .newgame {
    font-size: 1.5em;
  }
}