.menubar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.menubar-left {
  float: left;
  font-family: 'Finger Paint', cursive;
}

.menubar-right {
  float: right;
}

.menubar h1 {
  display: inline;
  font-size: 2em;
}

.newgame {
  border: 0;
  background-color: #272727;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 2em;
}

.newgame:focus {
  outline: none;
}