.query-background {
  color: white;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bgcolor-90);
  overflow-x: hidden;
  transition: 0.5s;
}

.query-open {
  top: 0;
}

@media screen and (max-width: 1023px) {
  .query-close {
    font-size: 3em;
  }
}

@media screen and (max-width: 720px) {
  .query-close {
    font-size: 3em;
  }
}

@media screen and (max-width: 360px) {
  .query-close {
    font-size: 2em;
  }
}