.query-background {
  color: white;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bgcolor-90);
  overflow-x: hidden;
  transition: 0.5s;
}

.query-open {
  top: 0;
}

.query-close {
  background-color: rgba(0,0,0,0);
  color: white;
  border: 0;
  position: absolute;
  top: 2vh;
  right: 2vh;
  font-size: 4em;
}

@media screen and (max-width: 1023px) {
  .query-input {
    font-size: 3em;
  }

  .query-input-clear {
    font-size: 2em;
  }
  

  .query-close {
    font-size: 3em;
  }
}

@media screen and (max-width: 720px) {
  .query-input {
    font-size: 2em;
  }

  .query-input-clear {
    font-size: 1.5em;
  }  

  .query-background h2 {
    font-size: 1em;
  }

  .query-close {
    font-size: 3em;
  }
}

@media screen and (max-width: 360px) {
  .query-input {
    font-size: 1.5em;
  }

  .query-input-clear {
    font-size: 1em;
  }
  
  .query-background h2 {
    font-size: 0.75em;
  }

  .query-close {
    font-size: 2em;
  }
}